.env
dataset/
*.zip
*.pdf
myvenv/
__pycache__/
hgface_logincred.txt
.vscode/

# Ignore all CSVs except cleaned_data.csv
DataCleaning/*.csv
!DataCleaning/cleaned_data.csv
!assets/cleaned_data.csv